.page-header {
  margin-left: auto;
  margin-right: auto;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 1200px;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav li {
  margin-right: 50px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.site-nav .li:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  fill: var(--new-accent);
  transition: fill 250ms var(--cubic), color 250ms var(--cubic);
}
.auth-nav .link + .link {
  margin-left: 30px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

.auth-nav .envelope {
  transition: fill 250ms var(--cubic);
}

.auth-nav .link {
  fill: var(--new-accent);
  transition: fill 250ms var(--cubic), color 250ms var(--cubic);
}

.auth-nav .smartphone {
  transition: fill 250ms var(--cubic);
}
.contacts-link {
  display: flex;
  margin-right: 30px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-accent);
  fill: var(--main-accent);
}

.contacts-link:last-child {
  margin-right: 0;
}
.contacts-link:hover {
  color: #2196f3;
}
.contacts-link:focus {
  color: #ffffff;
}

.envelope {
  margin-right: 10px;
  fill: currentColor;
}
.envelope:hover,
.envelope:focus {
  fill: currentColor;
}
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.smartphone:hover,
.smartphone:focus {
  fill: currentColor;
}
.envelope {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}

.agreement-conditions {
  color: #2196f3;
  padding-bottom: 30px;
}
.site-nav .active a {
  position: relative;
  color: #2196f3;
}
.active .link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 26.4px;
  left: 0;
  margin-top: 18px;
  background: var(--main-accent);
  border-radius: 2px;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link {
  display: flex;
  align-items: center;
  margin-left: auto;

  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
