.team-social {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}
.team-social .item:not(:last-child) {
  margin-right: 10px;
}
.product {
  display: flex;
  padding-left: 0px;
}
.product .product-item:not(:last-child) {
  margin-right: 30px;
}
.product .product-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;

  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;

  color: $pimary-bg-color;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  text-align: center;
}
.product-item {
  position: relative;
  display: block;
}
