h1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: $pimary-bg-color;
}
h2 {
  margin-top: 20px;
  padding-right: 24px;
  font-size: 18px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $primary-text-color;
}
h3 {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
h4 {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
